#root {
  background-color: rgb(4, 4, 158);
  height: 1000px;
}

.App {
  width: 500px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 8px;
}

ul { 
  display: inline;
  text-align: center;
  list-style: none;

}
li {
  border: solid gray 1px;
  width: 400px;
  height: 40px;
 margin: auto;
  color: white;
  font-size:x-large;

}
.remaining {
  height: 25px;
  text-align: left;
  color: gray;
  font-size:medium;

}
.extra1 {
  height: 5px;
  width: 395px;
}
.extra2 {
  height: 5px;
  width: 390px;
}

